.modal{
    z-index: 100;
    position: fixed;    
    width: 70%;
    height: 33.5rem;
    top: 22vh;
    left: 10%;
    background-color: #FFFFFF;
    border-radius: 20px;
}

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.50);
    z-index: 10;
}
