.star{
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 5px;
    transform: translateY(0);
    transition: transform .35s cubic-bezier(.23,1.5,.32,1);
    /* background: linear-gradient(180deg, #FFCD69 0%, #FDCE71 100%); */
}
